﻿@model IEnumerable<Ads.Application.Dto.CommentListDto>
@{
    ViewData["Title"] = "Index";
}

<h1>Comments</h1>
<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Create" asp-route-id="@ViewBag.AdId">Create</a>
    }
    <div class="col-4">
        @foreach (var element in Model)
        {

            <div class="card">
                <div class="card-header">
                    @element.Email
                </div>
                <div class="card-text">
                    @element.Comment
                </div>
                @if (User.Identity.IsAuthenticated && User.Identity.Name == element.Email)
                {
                    <div class="card-footer">
                        <a asp-action="Edit" asp-route-id="@element.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@element.Id">Delete</a>
                    </div>
                    
                }
            </div>
        }
    </div>
</div>

